
button{
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* COLORS */

.red{
  color: red;
}
.green{
  color: green;
  
}
.aqua{
  color: aqua;
}
.aquamarine{
  color: aquamarine;
}

